body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#slot-machine {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#rotate {
    width: 200px;
}

.ring {
    background: pink;
    border: 1px solid black;
    height: 78px;
    line-height: 78px;
    width: 200px;
    position: absolute;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

#go {
    margin-top: 250px;
}

#start-btn-wrapper {
    display: flex;
    justify-content: center;
}

#winner {
    margin-top: 10px;
}